@tailwind base;
@tailwind components;
@tailwind utilities;

.container-one {
  max-width: 1150px !important;
  margin: auto !important;
}

body {
  box-sizing: border-box !important;
  background: #1d232a;
}
